<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">Learning</a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a routerLink="/pegawai">Master Pegawai</a></li>
        <li routerLinkActive="active"><a routerLink="/bank">Bank</a></li>
      </ul>
    </div>
  </div>
</nav>
