
<form class="form-horizontal" (ngSubmit)="onAddItem(f)" #f="ngForm">
    <div class="form-group">
      <legend>Data Pegawai</legend>
    </div>

    <div class="form-group">
        <span class="col-sm-2">NIK</span>
        <div class="col-sm-2">
        <input type="text" 
        class="form-control"
        name="txtNik"
        ngModel>
      </div>
    </div>

    <div class="form-group">
        <span class="col-sm-2">Nama</span>
        <div class="col-sm-2">
        <input type="text" 
        class="form-control"
        name="txtNama"
        ngModel
        required>
      </div>
    </div>

    <div class="form-group">
        <span class="col-sm-2">Alamat</span>
        <div class="col-sm-2">
        <input type="text" 
        class="form-control"
        name="txtAlamat"
        ngModel>
      </div>
    </div>

    <div class="form-group">
        <span class="col-sm-2">Path Foto</span>
        <div class="col-sm-2">
        <input type="text" 
        class="form-control"
        name="txtPathFoto"
        ngModel>
      </div>
    </div>
    
    <div class="form-group">
      <div class="col-sm-10 col-sm-offset-2">
        <button type="submit" class="btn btn-primary" [disabled]="!f.valid">{{ editMode ? 'Update' : 'Submit' }}</button>
        <button class="btn btn-success" type="button" (click)="onClear()">Clear</button>
      </div>
    </div>
</form>



<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Image</th>
        <th>NIK</th>
        <th>Nama</th>
        <th>Alamat</th>
        <th>Aksi</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of pegawais; let i = index">
        <td><img
          [src]="data.pathfoto"
          alt="{{ data.nama }}"
          class="img-responsive"
          style="max-height: 30px;"></td>
        <td>{{data.nik}}</td>
        <td>{{data.nama}}</td>
        <td>{{data.alamat}}</td>
        <td>
          <button (click)="updateData(data, i)"
            class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span>Update</button>
          <button (click)="deleteData(i)"
          class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span>Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

