
<form class="form-horizontal" (ngSubmit)="onAddBank(fb)" #fb="ngForm">
  <div class="form-group">
    <legend>Data Bank</legend>
  </div>

  <div class="form-group">
      <span class="col-sm-2">AccNo</span>
      <div class="col-sm-2">
      <input type="text" 
      class="form-control"
      name="txtAccNo"
      ngModel>
    </div>
  </div>

  <div class="form-group">
      <span class="col-sm-2">Nama Bank</span>
      <div class="col-sm-2">
      <input type="text" 
      class="form-control"
      name="txtNama"
      ngModel>
    </div>
  </div>

  <div class="form-group">
      <span class="col-sm-2">Cabang</span>
      <div class="col-sm-2">
      <input type="text" 
      class="form-control"
      name="txtCabang"
      ngModel>
    </div>
  </div>

  
  <div class="form-group">
    <div class="col-sm-10 col-sm-offset-2">
      <button type="submit" class="btn btn-primary">{{ editMode ? 'Update' : 'Submit' }}</button>
      <button class="btn btn-success" type="button" (click)="onClear()">Clear</button>
    </div>
  </div>
</form>



<div class="table-responsive">
<table class="table table-hover">
  <thead>
    <tr>
      <th>Acc No</th>
      <th>Nama Bank</th>
      <th>Cabang</th>
      <th>Aksi</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let datax of banks; let i = index">
      <td>{{datax.accNo}}</td>
      <td>{{datax.nama}}</td>
      <td>{{datax.cabang}}</td>
      <td>
        <button (click)="updateData(datax, i)"
          class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span>Update</button>
        <button (click)="deleteData(i)"
        class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span>Delete</button>
      </td>
    </tr>
  </tbody>
</table>
</div>

